---
import { Image } from "astro:assets";
import { getRepo } from "../utils/github";

interface Props {
  image: ImageMetadata;
  sponsorLink: string;
  repoName: string;
  color: "pink" | "red" | "green" | "blue" | "yellow" | "purple";
}

const { repoName, image, sponsorLink, color } = Astro.props;

const repo = await getRepo(repoName);

const themeConfig = {
  pink: ["bg-pink-400", "text-pink-400"],
  red: ["bg-red-500", "text-red-500"],
  green: ["bg-green-500", "text-green-500"],
  blue: ["bg-blue-500", "text-blue-500"],
  yellow: ["bg-yellow-500", "text-yellow-500"],
  purple: ["bg-purple-500", "text-purple-500"],
  indigo: ["bg-indigo-500", "text-indigo-500"],
  fuchsia: ["bg-fuchsia-500", "text-fuchsia-500"],
  teal: ["bg-teal-300", "text-teal-300"],
};

const starsCount = writeNumberNicely(repo.stargazers_count);
const theme = themeConfig[color];

function writeNumberNicely(num: number) {
  return new Intl.NumberFormat("en-US", {
    notation: "compact",
    compactDisplay: "short",
    maximumFractionDigits: 1,
  }).format(num);
}
---

<section class="space-y-4 block">
  <a
    href={repo.html_url}
    target="_blank"
    class:list={[
      "block max-w-3xl mx-auto p-2 rounded-lg overflow-hidden",
      theme[0],
    ]}
  >
    <Image
      src={image}
      height="1760"
      width="3000"
      alt="TerminalApps"
      class="shadow"
    />
  </a>
  <div>
    <div class="flex gap-2 items-center justify-between">
      <h2 class:list={["text-xl font-semibold ", theme[1]]}>
        {repo.name} [{starsCount} Stars]
      </h2>
      <div>
        <a
          class="px-2 py-0.5 bg-white font-bold text-black leading-none text-sm cursor-pointer hover:underline before:content-['[_'] after:content-['_]']"
          target="_blank"
          href={repo.html_url}>GitHub</a
        >
        {
          sponsorLink && (
            <a
              class:list={[
                "px-2 py-0.5 font-bold text-black leading-none text-sm cursor-pointer hover:underline before:content-['[_'] after:content-['_]']",
                theme[0],
              ]}
              target="_blank"
              href={sponsorLink}
            >
              Sponsor
            </a>
          )
        }
      </div>
    </div>
    <p class="mt-2">{repo.description}</p>
  </div>
</section>
