---
import { Image } from "astro:assets";
import { getRepo } from "../utils/github";
import { writeNumberNicely } from "../utils/format";

interface Props {
  image: ImageMetadata;
  website?: string;
  title?: string;
  repoName?: string;
  tags: string[];
  sponsorLink?: string;
  description?: string;
  color:
    | "pink"
    | "red"
    | "green"
    | "blue"
    | "yellow"
    | "purple"
    | "indigo"
    | "fuchsia"
    | "teal"
    | "lime"
    | "orange";
}

const {
  title,
  description,
  repoName,
  image,
  sponsorLink,
  color,
  website,
  tags,
} = Astro.props;

type Repository = {
  stargazers_count: number;
  html_url: string;
  name: string;
  description: string;
  language: string;
  license: {
    spdx_id: string;
    name: string;
  };
};

let repo: Repository | null = null;
let starsCount: string | null = null;

if (repoName) {
  repo = (await getRepo(repoName)) as Repository;
  starsCount = writeNumberNicely(repo.stargazers_count);
}

const themeConfig = {
  pink: ["bg-pink-400", "text-pink-400"],
  red: ["bg-red-500", "text-red-500"],
  green: ["bg-green-500", "text-green-500"],
  blue: ["bg-blue-500", "text-blue-500"],
  yellow: ["bg-yellow-500", "text-yellow-500"],
  purple: ["bg-purple-500", "text-purple-500"],
  indigo: ["bg-indigo-500", "text-indigo-500"],
  fuchsia: ["bg-fuchsia-500", "text-fuchsia-500"],
  teal: ["bg-teal-300", "text-teal-300"],
  lime: ["bg-lime-500", "text-lime-500"],
  orange: ["bg-orange-500", "text-orange-500"],
};

const theme = themeConfig[color];
---

<section class="space-y-4 block">
  <a
    href={repo?.html_url ?? website}
    target="_blank"
    data-umami-event="Visit Project"
    data-umami-event-name={repo?.name ?? title}
    class:list={[
      "block max-w-3xl mx-auto p-1 md:p-2 rounded md:rounded-lg overflow-hidden",
      theme[0],
    ]}
  >
    <Image
      src={image}
      densities={[1.5, 2]}
      alt={`Screenshot of terminal app called ${repo?.name ?? title}`}
      class="shadow"
    />
  </a>
  <div>
    <div
      class="flex md:flex-row flex-col gap-2 md:items-center md:justify-between"
    >
      <h2
        class:list={[
          "flex gap-2 items-center text-xl font-semibold ",
          theme[1],
        ]}
      >
        <span>{repo?.name ?? title}</span>
        <span>{repoName && `[${starsCount} Stars]`}</span>
      </h2>
      <div>
        {
          website && (
            <a
              class="bg-white font-bold text-black leading-none text-sm cursor-pointer hover:underline before:content-['[_'] after:content-['_]']"
              target="_blank"
              data-umami-event="Visit Website"
              data-umami-event-name={title}
              href={website}
            >
              Website
            </a>
          )
        }
        {
          repo?.html_url && (
            <a
              class="bg-white font-bold text-black leading-none text-sm cursor-pointer hover:underline before:content-['[_'] after:content-['_]']"
              target="_blank"
              data-umami-event="Visit Project"
              data-umami-event-name={repo?.name}
              href={repo?.html_url}
            >
              GitHub
            </a>
          )
        }
        {
          sponsorLink && (
            <a
              class:list={[
                "font-bold text-black leading-none text-sm cursor-pointer hover:underline before:content-['[_'] after:content-['_]']",
                theme[0],
              ]}
              data-umami-event="Visit Sponsor"
              data-umami-event-name={repo?.name}
              target="_blank"
              href={sponsorLink}
            >
              Sponsor
            </a>
          )
        }
      </div>
    </div>
    <div class="mt-2 grid grid-cols-1 sm:grid-cols-3 gap-1">
      <div class="col-span-2">
        {repo?.description ?? description}
      </div>
      <div class="col-span-1 sm:text-right text-sm text-gray-400">
        {repo?.license.spdx_id && <p>{repo.license.spdx_id}</p>}
        {repo?.language && <p>Built with {repo.language}</p>}
      </div>
    </div>
  </div>
</section>
